<!DOCTYPE html>
<html>
  <head>
    <title>MrMincredible</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112660767-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112660767-1');
    </script>
  </head>
  
  <body>
    <center>
      <img src="/static/images/Yakkin'.jpg" class="img-polaroid">
      <h1><a href="/yo-joe">IT IS I,JOEBOT</a></h1>
    </center>
  </body>
</html>
