<!DOCTYPE html>
<html>
  <head>
    <title>Error 404... darn!</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112660767-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112660767-1');
    </script>
  </head>
  
  
  <body>
    <center>
      <h1>Error 404</h1>
      <img src="/static/images/Missing Sponge 2.png" class="img-polaroid">
      <h1>I think our intern threw this page out...</h1>
      <p><font size="5">Don't worry, we'll get rid of him.</font></p>
    </center>
  </body>
</html>
